{% extends 'base.html' %}

{% block styles %}
    <style>
        body {
            background-color: yellow;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-8">
                <h1>🏎️ Tweets 🏎️</h1>
                </br>
                {% for tweet in tweets %}
                    <div class="card mb-3">
                        <h5 class="card-header bg-danger">FORMULA</h5>
                        <div class="card-body">
                            
                            {% if tweet.user.profile.profile_image %}
                                <img src="{{ tweet.user.profile.profile_image.url }}" alt="{{profile.user.username}}" width=50 height=50 class="rounded-circle">
                            {% else %}
                                <img src="https://tse3.mm.bing.net/th?id=OIP.ruat7whad9-kcI8_1KH_tQHaGI&pid=Api&P=0&h=180" alt="{{profile.user.username}}" width=50 height=50 class="rounded-circle">
                            {% endif %}
                            <small class="text-muted">
                                ({{tweet.created_at}}) by @{{tweet.user.username}}&nbsp;&nbsp;{{tweet.number_of_likes}}
                                {% if user in tweet.likes.all %}
                                    <a href="{% url 'tweet_like' tweet.id %}"><i class="fa-solid fa-heart " style="color:red"></i></a>
                                {% else %}
                                    <a href="{% url 'tweet_like' tweet.id %}"><i class="fa fa-heart-o " style="color:red"></i></a>
                                {% endif %}
                                &nbsp;&nbsp;
                                <a href="{% url 'tweet_show' tweet.id %}"><i class="fas fa-share"></i></a>
                            </small>
                            <p class="card-text">{{tweet.body}}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="col-4">
                <h3>Compose a Tweet!</h3>
                <form method=POST>
                    {% csrf_token %}
                    {{ form.as_p }}
                    
                    <button type="submit" class="btn btn btn-outline-danger">Tweet!</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

